.navbar {
    background-color: #5ec877;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.651);
    border-color: rgba(255, 255, 255, 0.418);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

body {
    padding-top: 70px; 
}