<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="icon" href="images/logo-libros.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Cursos CATEDU</title>
  </head>
  <body>
      
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" aria-label="Third navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://moodle.catedu.es">Cursos Aularagón</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item mx-5">
                <a class="nav-link active" aria-current="page" href="https://catedu.es" target="_blank">CATEDU</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      {{ $dataC := getCSV "," "https://docs.google.com/spreadsheets/d/e/2PACX-1vR-BAUvNUjp2AeV_daeeqHReX0M3ew3ZpEL3nfkrz96uUd816mV_hV1uWMvbsACphEBGjqHJBswGwFz/pub?gid=1988493545&single=true&output=csv" }}
      {{ $dataCursos := first 121 (after 1 $dataC) }}

    <div class="container mb-5">
      <div class="row">
        <div class="col-4@sm col-3@md">
          <div class="filters-group">
            <legend class="filter-label"><label for="filters-search-input">Busca</label></legend>
            <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12@sm filters-group-wrap">
          <div class="filters-group">
            <legend class="filter-label">Filtra</legend>
            <div class="btn-toolbar filter-options">
              {{ $tags := slice "Metodologías"}}
              {{ range $i, $r := $dataCursos }}
                {{ $tag := split (index $r 4) "/" }}
                {{ $tags = $tags | append $tag }}
              {{ end }}
              {{ $uniqTags := $tags | uniq}}
              {{ range $uniqTags }}
                <button class="btn btn--primary" data-group="{{ . }}">{{ . }}</button> 
              {{ end }}
            </div>
          </div>
          <!-- <fieldset class="filters-group">
            <legend class="filter-label">Ordena</legend>
            <div class="btn-group sort-options">
              <label class="btn active">
                <input type="radio" name="sort-value" value="dom" checked /> Por defecto
              </label>
              <label class="btn">
                <input type="radio" name="sort-value" value="title" /> Título
              </label>
              <label class="btn">
                <input type="radio" name="sort-value" value="hours" /> Nº de horas
              </label>
            </div>
          </fieldset> -->
        </div>
      </div>
    </div>
    </div>

    <div class="container">
      <div id="grid" class="card-group row my-shuffle-container">
      {{ range $i, $r := $dataCursos }}
        {{ if ne (index $r 6) "0" }}
        {{ $tags := index $r 4 }}
        <div class="cardContenedor col-3@xs col-4@sm col-3@md picture-item" data-groups='["{{ delimit (split $tags "/") "\",\""}}"]' data-hours="{{ index $r 8 }}" data-title="{{ index $r 0 }}">
          <div class="card mb-3 picture-item__inner">
              <div class="card-img-top">
                {{ $imgUrl := index $r 7 }}
                {{ if $imgUrl }}
                <img src="{{ index $r 7 }}"
                  alt="unrelated course image" />
                {{ else }}
                  <img src="https://via.placeholder.com/150" alt="Card image cap">
                {{ end }}
              </div>
            <div class="card-body">
              <h5 class="picture-item__title">{{ index $r 0 }}</h5>
              <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#course{{ index $r 6 }}" target="_blank">+ info</button>
                      <a href="https://moodle.catedu.es/course/view.php?id={{ index $r 6 }}" class="btn btn-secondary" target="_blank">Curso</a>
                      {{ $libro := index $r 5 }}
                      {{ if $libro }}
                        <a href="https://catedu.github.io/{{ $libro }}" class="btn btn-success" target="_blank">Libro</a>
                      {{ end }}
                      <p># {{ delimit (split $tags "/") ", "}}</p>
                      <p>Número de horas: {{ index $r 8 }}</p>
              {{/*  <p class="picture-item__tags hidden@xs">nature</p>  */}}
            </div>
          </div>
        </div>

          {{/*  <div class="col-sm-6 col-lg-4 cardContenedor">
              <div class="card mt-2 mx-1">
                {{ $imgUrl := index $r 7 }}
                {{ if $imgUrl }}
                  <img class="card-img-top" src="{{ index $r 7 }}" alt="Card image cap">
                {{ else }}
                  <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                {{ end }}
                  <div class="card-body">
                      <h5 class="card-title">{{ index $r 0 }}</h5>
                      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#course{{ index $r 6 }}" target="_blank">+ info</button>
                      <a href="https://moodle.catedu.es/course/view.php?id={{ index $r 6 }}" class="btn btn-secondary" target="_blank">Curso</a>
                      {{ $libro := index $r 5 }}
                      {{ if $libro }}
                        <a href="https://catedu.github.io/{{ $libro }}" class="btn btn-success" target="_blank">Libro</a>
                      {{ end }}
                  </div>
              </div>
          </div>  */}}

        {{ end }}
      {{ end }}
      </div>
      </div>
        {{ range $i, $r := $dataCursos }}
        <div class="modal" id="course{{ index $r 6 }}" tabindex="-1" aria-labelledby="course{{ index $r 6 }}Label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ index $r 0 }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h4>Objetivos</h4>
                <p>{{ index $r 1 | markdownify }}</p>
                <hr>
                <h4>Contenidos</h4>
                <p>{{ index $r 2 | markdownify }}</p>
                <hr>
                <h4>Requisitos</h4>
                <p>{{ index $r 3 | markdownify }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        {{ end }}

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="js/myscripts.js"></script>
    {{ range site.Params.plugins.js}}
    <script src="{{ .link }}"></script>
    {{ end }}
  </body>
</html>